h1{
color: aliceblue;
text-align: center;
text-decoration: underline;
border: 1cm;
box-shadow: #ffff;


} 
body{
    background-color: rgb(0, 0, 0);
}

p{
    color: #ffff;
}

buttn{
    border: #ffff;

}
. lee-chong{

    color: aqua;
}
div{
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content:center;

}
. background-life-of-the-lee-chong-wei{

size: 65px;
text-shadow: 23px;
color: dark blue;


}



