h1{
color: aliceblue;
text-align: center;
text-decoration: underline;
border: 1cm;
box-shadow: #ffff;


} 
body{
    background-color: rgb(0, 0, 0);
}

p{
    color: #ffff;

}

button{
    border: #ffff;

}
. lee-chong{

    color: aqua;
}
div{
display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;
justify-content:center;

}
. background-life-of-the-lee-chong-wei{

size: 65px;
text-shadow: 23px;
color: dark blue;

}
image {

border: 10cm;
border-color:white;
display: flex;
transform: scale(1.1);
transition: 0.6;


}


